.face{
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 0 auto;
}

.mouth{
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: relative;
    top: 250px;
    left: 100px;
}

.left-eye, .right-eye{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: relative;
}
.left-eye{
    left: 100px;
}
.right-eye{
    left: 200px;
}